.lr-modal {
    width: 1000px !important;
    font-family: 'Roboto', sans-serif !important;

    & > div {
        & > .ant-modal-content {
            border-radius: 5px;
            padding: 6px;
            background: var(--color-border);
            overflow: hidden;

            & > .ant-modal-body {
                display: flex;
                background: var(--color-bg);
                border-radius: 5px;
                overflow: hidden;

                & > .left {
                    width: 33.333%;

                    & > .content {
                        padding: 30px;

                        & > .header {
                            padding-bottom: 24px;
                            font-size: 18px;
                            font-weight: 500;
                        }

                        & > .group-btn {
                            display: flex;
                            gap: 16px;
                            margin-top: 24px;

                            & > button {
                                flex: 1;
                                height: 40px;
                            }
                        }

                        & > .register {
                            margin-top: 40px;
                            font-size: 14px;

                            & > a {
                                color: #ff6900;

                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                }

                & > .right {
                    // background-image: url('/sources/login/DHFPT6-1.webp');
                    // background-image: url('https://i.ex-cdn.com/mientay.giadinhonline.vn/files/content/2025/05/12/z6594050220643_b9164f734c54e153355c37e32d3de83f-1635.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    flex: 1;
                    padding: 30px;

                    & > .logo {
                        width: 105px;
                    }

                    & > .content {
                        padding: 0 var(--base-size-16);
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        padding: 16px 0;

                        & > .title {
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 600;

                            & > span {
                                color: #ff6900;
                            }
                        }

                        .flex-slider {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 100%;
                            height: 70px;

                            .flex-slider-item {
                                width: 22%;
                                height: 100%;
                                transition: all 0.5s ease;

                                & > img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 5px;
                                }
                            }

                            .flex-slider-item.active {
                                width: 25%;
                                height: calc(100% + 20px);
                                border: 4px solid #ff6900;
                                border-radius: 5px;
                            }
                        }

                        & > .title-2 {
                            font-size: 16px;
                            font-weight: 600;
                            margin-top: 20px;

                            & > span {
                                padding: 0 4px;
                                color: #ff6900;
                            }
                        }

                        .move-from-right {
                            margin-top: 10px;
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            font-weight: 500;
                            padding-left: 16px;
                            height: 50px;
                            // background: rgba(239, 130, 6, 0.3);
                            background: rgba(40, 40, 40, 0.5);
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                            // border-left: 5px solid #ff6900;
                            border-left: 5px solid rgba(255, 105, 0, 0.7);
                            color: white;
                            transform: translateX(100%);
                            animation: slideIn 1s forwards;
                        }

                        .move-from-right.mfr-1 {
                            animation-delay: 0s;
                        }

                        .move-from-right.mfr-2 {
                            animation-delay: 0.25s;
                        }

                        .move-from-right.mfr-3 {
                            animation-delay: 0.5s;
                        }

                        .move-from-right.mfr-4 {
                            animation-delay: 0.75s;
                        }

                        @keyframes slideIn {
                            0% {
                                transform: translateX(100%);
                            }
                            100% {
                                transform: translateX(0%);
                            }
                        }
                    }
                }

                & > .split {
                    border-right: 1px solid black;
                    opacity: 0.1;
                }
            }
        }
    }
}

.ant-modal-close {
    position: absolute;
    top: var(--base-size-4) !important;
    right: var(--base-size-4) !important;

    .ant-modal-close-x {
        // display: none;
    }
}

.ant-modal-footer {
    display: none;
}

.ant-input {
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif !important;
}

.ant-checkbox-label {
    font-family: 'Roboto', sans-serif !important;
}

.ant-input-suffix {
    position: absolute;
    right: 10px;
    top: 18px;
}

.login-btn {
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    background: #ff6900;
    color: white;
    margin-bottom: 48px;

    &:hover {
        background: #ff6900 !important;
        opacity: 0.7;
    }
}

.split-content {
    white-space: nowrap;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        flex: 1;
        border-bottom: 1px solid #404758;
        position: relative;
        margin-right: 10px;
    }

    &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #404758;
        position: relative;
        margin-left: 10px;
    }
}

.custom-input-username {
    & > .ant-row {
        & > .ant-col {
            & > .ant-form-item-control-input {
                & > .ant-form-item-control-input-content {
                    & > input {
                        z-index: 1;
                        border-radius: 3px !important;
                    }
                }

                & > .ant-form-item-control-input-content::before {
                    font-weight: 600;
                    content: 'Username';
                    font-size: 12px;
                    position: absolute;
                    left: 11px;
                    top: 18px;
                    transform: translateY(-50%);
                    color: #999;
                    pointer-events: none;
                    z-index: 2;
                }
            }
        }
    }
}

.custom-input-password {
    margin-bottom: 16px !important;

    & > .ant-row {
        & > .ant-col {
            & > .ant-form-item-control-input {
                & > .ant-form-item-control-input-content {
                    & > span {
                        border-radius: 3px !important;
                        background: var(--color-bg);
                    }
                }

                & > .ant-form-item-control-input-content::before {
                    font-weight: 600;
                    content: 'Password';
                    font-size: 12px;
                    position: absolute;
                    left: 11px;
                    top: 18px;
                    transform: translateY(-50%);
                    color: #999;
                    pointer-events: none;
                    z-index: 2;
                }
            }
        }
    }
}

.ant-form {
    .ant-form-item {
        margin-bottom: 20px;
    }
}

// .ant-form-item-explain-error {
//     display: none;
// }
