.exercises {
    padding: var(--base-size-24);

    .header {
        margin-bottom: var(--base-size-24);

        .title {
            font-size: var(--base-size-24);
            font-weight: var(--base-text-weight-semibold);
            margin-bottom: var(--base-size-16);
        }

        .description {
        }
    }

    .wrapper {
        gap: var(--base-size-16);

        .search {
            width: 25%;
            border: 1px solid var(--color-border);
            border-radius: var(--borderRadius-medium);
            padding: var(--base-size-16);
            display: flex;
            flex-direction: column;
            gap: var(--base-size-8);

            .title {
                display: flex;
                gap: var(--base-size-4);
                font-size: var(--base-size-16);
                font-weight: var(--base-text-weight-medium);
            }

            .line {
                margin: var(--base-size-4) 0;

                div {
                    font-size: var(--base-size-14) !important;
                    font-weight: var(--base-text-weight-medium) !important;
                    color: var(--color-text-primary);
                }
            }

            .sub-title {
                text-align: center;
            }

            input {
                border-radius: var(--borderRadius-medium);
            }

            & > button {
                background: var(--color-text-primary);
                border: none;
                color: #fff !important;
                height: var(--base-size-40);

                &:hover {
                    transform: scale(0.98);
                    background: var(--color-text-primary);
                }
            }
        }

        .body {
            flex: 1;
        }
    }

    .wrapper.wrapper-responsive {
        .search {
            width: 100%;
        }

        .body {
        }
    }
}

.actions-row {
    display: flex;
    gap: var(--base-size-8);

    .action-row-btn {
        font-size: var(--base-size-16);

        &:hover {
            color: var(--color-text-primary);
            cursor: pointer;
        }
    }
}

.exercise-form {
    .ex-step {
        // padding: 0 var(--base-size-16);
    }

    & > form {
        & > div {
            & > .ant-form-item {
                margin: 0;
                padding: 0;

                & > .ant-row {
                    & > .ant-col {
                        margin: 0;
                        padding: 0;

                        & > label {
                            font-weight: var(--base-text-weight-medium);
                            margin-left: var(--base-size-4);
                        }

                        & > .ant-form-item-control-input {
                            & > .ant-form-item-control-input-content {
                                & > input {
                                    // padding: var(--base-size-12) var(--base-size-42) var(--base-size-12)
                                    //     var(--base-size-20);
                                    // border-radius: var(--borderRadius-full);
                                    font-size: var(--base-size-14) !important;
                                }

                                & > .ant-select {
                                    & > .ant-select-selector {
                                        // border-radius: var(--borderRadius-full);
                                        font-size: var(--base-size-14) !important;

                                        & > .ant-select-selection-wrap {
                                            // padding: var(--base-size-12) var(--base-size-42)
                                            //     var(--base-size-12) var(--base-size-12);
                                            margin-left: var(--base-size-8);

                                            & > .ant-select-selection-placeholder {
                                                // padding: var(--base-size-12) var(--base-size-42)
                                                //     var(--base-size-12) var(--base-size-12);
                                            }
                                        }
                                    }
                                }

                                & > button {
                                    width: 100%;
                                    background: #1dbfaf;
                                    background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
                                    border-radius: var(--borderRadius-full);
                                    font-size: var(--base-size-16);
                                    padding: var(--base-size-20) 0;
                                    // margin-top: var(--base-size-48);
                                    margin-top: var(--base-size-24);

                                    &:hover {
                                        opacity: 0.8;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.test-cases-component {
    padding: 0 var(--base-size-8);

    & > .header {
        padding: var(--base-size-8) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--base-size-8);
            font-weight: var(--base-text-weight-medium);
            text-transform: uppercase;

            img {
                width: var(--base-size-20);
                height: var(--base-size-20);
            }
        }

        .right {
        }
    }

    .add-new {
        border: 1px solid var(--color-border);
        padding: var(--base-size-8);
        border-radius: var(--borderRadius-medium);
        margin-bottom: var(--base-size-8);

        & > .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--base-size-8);
                font-weight: var(--base-text-weight-medium);
                text-transform: uppercase;

                img {
                    width: var(--base-size-20);
                    height: var(--base-size-20);
                }
            }

            .right {
            }
        }

        & > .error {
            color: red;
            margin-left: var(--base-size-2);
        }

        & > .content {
            & > form {
                & > .ant-form-item {
                    margin: 0;
                    padding: 0;

                    & > .ant-row {
                        & > .ant-col {
                            margin: 0;
                            padding: 0;

                            & > label {
                                font-weight: var(--base-text-weight-medium);
                                margin-left: var(--base-size-4);
                            }

                            & > .ant-form-item-control-input {
                                & > .ant-form-item-control-input-content {
                                    & > input {
                                        // padding: var(--base-size-12) var(--base-size-42) var(--base-size-12)
                                        //     var(--base-size-20);
                                        // border-radius: var(--borderRadius-full);
                                        font-size: var(--base-size-14) !important;
                                    }

                                    & > .ant-select {
                                        & > .ant-select-selector {
                                            // border-radius: var(--borderRadius-full);
                                            font-size: var(--base-size-14) !important;

                                            & > .ant-select-selection-wrap {
                                                // padding: var(--base-size-12) var(--base-size-42)
                                                //     var(--base-size-12) var(--base-size-12);
                                                margin-left: var(--base-size-8);

                                                & > .ant-select-selection-placeholder {
                                                    // padding: var(--base-size-12) var(--base-size-42)
                                                    //     var(--base-size-12) var(--base-size-12);
                                                }
                                            }
                                        }
                                    }

                                    & > button {
                                        width: 100%;
                                        background: #1dbfaf;
                                        background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
                                        border-radius: var(--borderRadius-full);
                                        font-size: var(--base-size-16);
                                        padding: var(--base-size-20) 0;
                                        // margin-top: var(--base-size-48);
                                        margin-top: var(--base-size-24);

                                        &:hover {
                                            opacity: 0.8;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .flex {
                    & > .ant-form-item {
                        margin: 0;
                        padding: 0;

                        & > .ant-row {
                            & > .ant-col {
                                margin: 0;
                                padding: 0;

                                & > label {
                                    font-weight: var(--base-text-weight-medium);
                                    margin-left: var(--base-size-4);
                                }

                                & > .ant-form-item-control-input {
                                    & > .ant-form-item-control-input-content {
                                        & > input {
                                            // padding: var(--base-size-12) var(--base-size-42) var(--base-size-12)
                                            //     var(--base-size-20);
                                            // border-radius: var(--borderRadius-full);
                                            font-size: var(--base-size-14) !important;
                                        }

                                        & > .ant-select {
                                            & > .ant-select-selector {
                                                // border-radius: var(--borderRadius-full);
                                                font-size: var(--base-size-14) !important;

                                                & > .ant-select-selection-wrap {
                                                    // padding: var(--base-size-12) var(--base-size-42)
                                                    //     var(--base-size-12) var(--base-size-12);
                                                    margin-left: var(--base-size-8);

                                                    & > .ant-select-selection-placeholder {
                                                        // padding: var(--base-size-12) var(--base-size-42)
                                                        //     var(--base-size-12) var(--base-size-12);
                                                    }
                                                }
                                            }
                                        }

                                        & > button {
                                            width: 100%;
                                            background: #1dbfaf;
                                            background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
                                            border-radius: var(--borderRadius-full);
                                            font-size: var(--base-size-16);
                                            padding: var(--base-size-20) 0;
                                            // margin-top: var(--base-size-48);
                                            margin-top: var(--base-size-24);

                                            &:hover {
                                                opacity: 0.8;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
