.profile {
    & > .quick-info {
        gap: var(--base-size-16);

        & > .left-side {
            background: var(--color-navbar);
            padding: var(--base-size-16);
            min-width: var(--base-size-320);
            border-radius: var(--borderRadius-large);

            & > .container {
                & > .header {
                    font-size: var(--base-size-16);
                    font-weight: var(--base-text-weight-medium);

                    & > img {
                    }
                }

                button {
                    background: #2b3a2f;
                    color: #2cbc5b;
                    font-weight: var(--base-text-weight-medium);
                    border: none;
                    box-shadow: none;
                }

                .child-container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: var(--base-size-8);
                    margin-top: var(--base-size-16);

                    & > .avatar {
                        width: var(--base-size-80);
                        height: var(--base-size-80);
                        border: 3px solid var(--color-border);
                        border-radius: var(--borderRadius-large);
                    }

                    & > .info {
                        margin-top: var(--base-size-4);
                        margin-left: var(--base-size-8);
                        margin-bottom: var(--base-size-30);

                        & > .name {
                            font-size: var(--base-size-16);
                            font-weight: var(--base-text-weight-medium);
                        }

                        & > .roll-number {
                            font-size: var(--base-size-12);
                            color: var(--color-text-muted);
                        }

                        & > .rank {
                            margin-top: var(--base-size-30);
                            font-size: var(--base-size-16);
                            font-weight: var(--base-text-weight-medium);
                        }
                    }

                    & > .child-container-left {
                    }

                    & > .child-container-right {
                        & > .name {
                            color: var(--color-text-muted);
                        }

                        & > .lw {
                            font-size: var(--base-size-12);
                            color: var(--color-text-muted);
                            margin-top: var(--base-size-4);
                        }
                    }
                }
            }
        }

        & > .right-side {
            flex: 1;
            gap: var(--base-size-16);
            display: flex;
            flex-direction: column;

            & > .top {
                display: flex;
                gap: var(--base-size-16);

                & > .statistic {
                    flex: 1;
                    max-width: 320px;
                    max-height: 200px;
                    border-radius: var(--borderRadius-large);
                    background: var(--color-navbar);
                    padding: var(--base-size-16);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & > .chart {
                        .chart-center {
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            width: calc(100% - 40px);
                            height: calc(100% - 40px);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            font-size: 16;
                            color: var(--color-secondary);
                            pointer-events: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .solved {
                                & > b {
                                    font-size: var(--base-size-30);
                                }
                            }

                            & > .label {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: var(--base-size-4);
                                font-weight: normal !important;

                                & > .ico {
                                    color: #049727;
                                    font-size: var(--base-size-12);
                                }
                            }
                        }
                    }

                    & > .group-cell {
                        display: flex;
                        flex-direction: column;
                        gap: var(--base-size-8);

                        & > .cell {
                            gap: var(--base-size-4);
                            width: var(--base-size-90);
                            height: var(--base-size-44);
                            background: var(--color-border);
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-radius: var(--borderRadius-large);
                        }
                    }
                }

                & > .loading-overlay {
                    flex: 1;

                    & > .other {
                        flex: 1;
                        max-height: 200px;
                        border-radius: var(--borderRadius-large);
                        background: var(--color-navbar);
                        padding: var(--base-size-16);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }

            & > .bottom {
                flex: 1;
                border-radius: var(--borderRadius-large);
                background: var(--color-navbar);
                padding: var(--base-size-16);
            }
        }
    }
}
