.ant-drawer {
    .ant-drawer-content-wrapper {
        max-width: 350px;

        .ant-drawer-content {
            background: var(--color-bg);

            .ant-drawer-header {
                color: var(--color-text-secondary);
                text-transform: uppercase;

                .ant-drawer-header-title {
                    text-align: center;

                    button {
                        position: absolute;
                        right: 0;
                    }
                }
            }

            .ant-drawer-body {
                padding: 0;
            }
        }
    }
}

.ant-pagination-item-link {
    color: var(--color-text-secondary) !important;
}

// .ant-select-dropdown {
//     z-index: 10000;
//     background: #323232;

//     // Vùng chứa danh sách option (scroll list)
//     .rc-virtual-list {
//         .rc-virtual-list-holder {
//             .rc-virtual-list-holder-inner {
//                 // Từng item (option)
//                 .ant-select-item {
//                     color: white;

//                     // Hover hoặc active
//                     &.ant-select-item-option-active {
//                         background-color: #3a3a3a !important;
//                     }

//                     // Khi được chọn
//                     &.ant-select-item-option-selected {
//                         color: #16a34a !important; // green-500
//                         background-color: rgba(22, 163, 74, 0.12) !important;
//                     }
//                 }
//             }
//         }
//     }
// }

// // Phần hiển thị giá trị được chọn (bên trên dropdown)
// .ant-select {
//     .ant-select-selector {
//         background-color: #262626 !important;
//         color: #16a34a !important;
//         border: none !important;

//         .ant-select-selection-item {
//             color: #16a34a !important;
//         }
//     }

//     &.ant-select-focused {
//         .ant-select-selection-item {
//             color: #16a34a !important;
//         }
//     }
// }

.ant-skeleton-content {
    .ant-skeleton-title {
        background: #393939 !important;
    }

    .ant-skeleton-paragraph {
        li {
            background: #393939 !important;
        }
    }
}

.ant-picker-dropdown {
    z-index: 99999;
}

.ant-empty {
    .ant-empty-description {
        color: var(--color-text-muted);
    }
}

.ant-table-cell {
    color: var(--color-text-secondary) !important;
    background: var(--color-table-header) !important;
    border-color: var(--color-table-border) !important;

    &::before {
        background: var(--color-table-border) !important;
    }

    &:hover {
        color: var(--color-text-secondary) !important;
        background: var(--color-table-header-hover) !important;
        border-color: var(--color-table-border) !important;
    }
}

.ant-modal {
    top: var(--base-size-44);
}

.custom-tooltip {
    width: 500px;
}

.ant-tooltip-inner {
    width: 500px;
    background: var(--color-border) !important;
}

.custom-tooltip-child {
    & > .custom-select-exercises {
        background: var(--color-bg);
        padding: var(--base-size-8);
        border-radius: var(--borderRadius-small);
        color: var(--color-text-secondary);

        .name {
            font-weight: var(--base-text-weight-medium);
            font-size: var(--base-size-16);
            margin-bottom: var(--base-size-8);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--base-size-8);

            & > .difficulty {
                color: white;
                border-radius: var(--borderRadius-small);
                padding: 0 var(--base-size-4);
                width: auto;
                font-size: var(--base-size-14);
            }

            & > .difficulty.EASY {
                background: var(--c-cyan);
            }

            & > .difficulty.MEDIUM {
                background: var(--c-gold);
            }

            & > .difficulty.HARD {
                background: var(--c-red);
            }
        }
    }
}
