.good-bg {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        opacity: 0.08;
        background-image: radial-gradient(#ffffff40, #fff0 40%),
            radial-gradient(hsl(44, 100%, 66%) 30%, hsl(338, 68%, 65%), hsla(338, 68%, 65%, 0.4) 41%, transparent 52%),
            radial-gradient(hsl(272, 100%, 60%) 37%, transparent 46%),
            linear-gradient(155deg, transparent 65%, hsl(142, 70%, 49%) 95%), linear-gradient(45deg, #0065e0, #0f8bff);
        background-size: 200% 200%, 285% 500%, 285% 500%, cover, cover;
        background-position: bottom left, 109% 68%, 109% 68%, center, center;
    }
}

.good-btn {
    width: 100%;
    background: #1dbfaf !important;
    background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%) !important;
    border-radius: var(--borderRadius-full);
    font-size: var(--base-size-16);
    padding: var(--base-size-20) 0;

    &:hover {
        // background: #1dbfaf !important;
        // background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%) !important;
        opacity: 0.8;
    }
}

.text-align-right {
    text-align: right;
}

.color-white {
    color: white;
}

.color-cyan {
    color: var(--c-cyan) !important;
}

.color-gold {
    color: var(--c-gold) !important;
}

.color-red {
    color: var(--c-red) !important;
}

.bg-cyan {
    background: var(--c-cyan) !important;
}

.bg-gold {
    background: var(--c-gold) !important;
}

.bg-red {
    background: var(--c-red) !important;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
}

.flex-space-beetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-flex-start {
    align-items: flex-start;
}

.gap {
    gap: var(--base-size-8);
}

.gap-16 {
    gap: var(--base-size-16);
}

.gap-24 {
    gap: var(--base-size-24);
}

.light-bold {
    font-weight: var(--base-text-weight-medium);
}

.bold {
    font-weight: var(--base-text-weight-semibold);
}

.bs24 {
    font-size: var(--base-size-24);
}

.bs28 {
    font-size: var(--base-size-28);
}

.mt-4 {
    margin-top: var(--base-size-4) !important;
}

.mr-4 {
    margin-right: var(--base-size-4) !important;
}

.mb-4 {
    margin-bottom: var(--base-size-4) !important;
}

.ml-4 {
    margin-left: var(--base-size-4) !important;
}

.mt-8 {
    margin-top: var(--base-size-8) !important;
}

.mr-8 {
    margin-right: var(--base-size-8) !important;
}

.mb-8 {
    margin-bottom: var(--base-size-8) !important;
}

.ml-8 {
    margin-left: var(--base-size-8) !important;
}

.pt-8 {
    padding-top: var(--base-size-8);
}

.pr-8 {
    padding-right: var(--base-size-8);
}

.pb-8 {
    padding-bottom: var(--base-size-8) !important;
}

.pl-8 {
    padding-left: var(--base-size-8);
}

.pt-16 {
    padding-top: var(--base-size-16);
}

.pr-16 {
    padding-right: var(--base-size-16);
}

.pb-16 {
    padding-bottom: var(--base-size-16) !important;
}

.pl-16 {
    padding-left: var(--base-size-16);
}

.mt-16 {
    margin-top: var(--base-size-16) !important;
}

.mr-16 {
    margin-right: var(--base-size-16);
}

.mb-16 {
    margin-bottom: var(--base-size-16);
}

.ml-16 {
    margin-left: var(--base-size-16);
}

.mt-24 {
    margin-top: var(--base-size-24) !important;
}

.mr-24 {
    margin-right: var(--base-size-24);
}

.mb-24 {
    margin-bottom: var(--base-size-24);
}

.ml-24 {
    margin-left: var(--base-size-24);
}

.mt-36 {
    margin-top: var(--base-size-36) !important;
}

.mr-36 {
    margin-right: var(--base-size-36);
}

.mb-36 {
    margin-bottom: var(--base-size-36);
}

.ml-36 {
    margin-left: var(--base-size-36);
}

.hide {
    display: none !important;
}

.p-4 {
    padding: var(--base-size-4) !important;
}

.p-8 {
    padding: var(--base-size-8) !important;
}

.p-8 {
    padding: var(--base-size-8) !important;
}

.p-16 {
    padding: var(--base-size-16) !important;
}

.p-24 {
    padding: var(--base-size-24) !important;
}

.disabled {
    pointer-events: none !important;
    color: var(--color-text-muted) !important;
    opacity: 0.3 !important;
}

.disabled-5 {
    pointer-events: none !important;
    color: var(--color-text-muted) !important;
    opacity: 0.5 !important;
}

.disabled-8 {
    pointer-events: none !important;
    color: var(--color-text-muted) !important;
    opacity: 0.8 !important;
}

.br-medium {
    border-radius: var(--borderRadius-medium);
}

.br-large {
    border-radius: var(--borderRadius-large);
}

.event-none {
    pointer-events: none;
}

.event-none-cell {
    // pointer-events: none;
    border: 1px solid var(--color-border) !important;
    box-shadow: 0 0 24px var(--color-border) !important;
    // box-shadow: none !important;

    .ant-card-body {
        padding: var(--base-size-8) var(--base-size-16) !important;
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;
    }

    &:hover {
        cursor: context-menu !important;
        transform: scale(1) !important;
    }
}

.color-text-primary {
    color: var(--color-text-primary);
}

.color-text-secondary {
    color: var(--color-text-secondary);
}

.max-1-line {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    /* autoprefixer: off*/
    -webkit-box-orient: vertical;
}

.max-2-lines {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    /* autoprefixer: off*/
    -webkit-box-orient: vertical;
}

.overflow {
    overflow: auto;

    /* Scrollbar Chrome/Safari/Edge */
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent; // macOS sẽ không đổi màu
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-text-muted);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--color-text-muted);
    }

    /* Scrollbar Firefox (cú pháp đúng) */
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-muted) transparent;
}

.overflow-visible {
    overflow: visible !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.pointer {
    cursor: pointer;
}

.hover-scale {
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.uppercase {
    text-transform: uppercase;
}

.align-right {
    text-align: right;
}

.border-top {
    border-top: 1px solid var(--color-border);
}

.on-the-right {
    position: fixed;
    bottom: var(--base-size-24);
    right: var(--base-size-24);
    background: var(--color-background);
    padding: var(--base-size-8) var(--base-size-16);
    border-radius: var(--borderRadius-medium);
    z-index: 1;
}

// CHIENLM
.solved {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: var(--base-size-24);

    & > .anticon {
        color: var(--c-cyan);
    }
}

.unsolved {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: var(--base-size-24);

    & > .anticon {
        color: var(--color-text-muted);
    }
}

// LAMPNT
.ant-btn-send.disabled-2 {
    border-color: #464646 !important;
    background: #373737 !important;
    color: #696969 !important;
}

.lampnt .ant-input {
    // color: #464646 !important; /* màu chữ chính */
}

/* Placeholder màu đỏ */
.lampnt .ant-input::placeholder {
    color: #464646 !important;
    opacity: 1;
}

/* Bộ đếm ký tự (0/255) màu đỏ */
.lampnt .ant-input-suffix .ant-input-data-count {
    color: #898989 !important;
}

// TRONGHG
.ex-creation-form-by-ai-container {
    padding: var(--base-size-24);
    border: 1px solid var(--color-border);
    border-radius: var(--borderRadius-large);
    box-shadow: var(--color-border) 10px 10px 10px;

    .ex-creation-form-by-ai {
        & > div {
            & > .ant-form-item {
                margin: 0;
                padding: 0;

                & > .ant-row {
                    & > .ant-col {
                        margin: 0;
                        padding: 0;

                        & > label {
                            font-weight: var(--base-text-weight-medium);
                            margin-left: var(--base-size-4);
                        }

                        & > .ant-form-item-control-input {
                            & > .ant-form-item-control-input-content {
                                & > input {
                                    // padding: var(--base-size-12) var(--base-size-42) var(--base-size-12)
                                    //     var(--base-size-20);
                                    // border-radius: var(--borderRadius-full);
                                    font-size: var(--base-size-14) !important;
                                }

                                & > .ant-select {
                                    & > .ant-select-selector {
                                        // border-radius: var(--borderRadius-full);
                                        font-size: var(--base-size-14) !important;

                                        & > .ant-select-selection-wrap {
                                            // padding: var(--base-size-12) var(--base-size-42)
                                            //     var(--base-size-12) var(--base-size-12);
                                            margin-left: var(--base-size-8);

                                            & > .ant-select-selection-placeholder {
                                                // padding: var(--base-size-12) var(--base-size-42)
                                                //     var(--base-size-12) var(--base-size-12);
                                            }
                                        }
                                    }
                                }

                                & > button {
                                    width: 100%;
                                    background: #1dbfaf;
                                    background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
                                    border-radius: var(--borderRadius-full);
                                    font-size: var(--base-size-16);
                                    padding: var(--base-size-20) 0;
                                    // margin-top: var(--base-size-48);
                                    margin-top: var(--base-size-24);

                                    &:hover {
                                        opacity: 0.8;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
