.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gap {
    gap: var(--base-size-8);
}

.gap-16 {
    gap: var(--base-size-16);
}

.gap-24 {
    gap: var(--base-size-24);
}

.bold {
    font-weight: var(--base-text-weight-semibold);
}

.bs24 {
    font-size: var(--base-size-24);
}

.bs28 {
    font-size: var(--base-size-28);
}

.mt-8 {
    margin-top: var(--base-size-8);
}

.mr-8 {
    margin-right: var(--base-size-8);
}

.mb-8 {
    margin-bottom: var(--base-size-8);
}

.ml-8 {
    margin-left: var(--base-size-8);
}

.pt-8 {
    padding-top: var(--base-size-8);
}

.pr-8 {
    padding-right: var(--base-size-8);
}

.pb-8 {
    padding-bottom: var(--base-size-8);
}

.pl-8 {
    padding-left: var(--base-size-8);
}

.mt-16 {
    margin-top: var(--base-size-16) !important;
}

.mr-16 {
    margin-right: var(--base-size-16);
}

.mb-16 {
    margin-bottom: var(--base-size-16);
}

.ml-16 {
    margin-left: var(--base-size-16);
}

.mt-24 {
    margin-top: var(--base-size-24) !important;
}

.mr-24 {
    margin-right: var(--base-size-24);
}

.mb-24 {
    margin-bottom: var(--base-size-24);
}

.ml-24 {
    margin-left: var(--base-size-24);
}

.mt-36 {
    margin-top: var(--base-size-36) !important;
}

.mr-36 {
    margin-right: var(--base-size-36);
}

.mb-36 {
    margin-bottom: var(--base-size-36);
}

.ml-36 {
    margin-left: var(--base-size-36);
}

.hide {
    display: none !important;
}

.p-24 {
    padding: var(--base-size-24) !important;
}
