.color-white {
    color: white;
}

.color-cyan {
    color: var(--c-cyan) !important;
}

.color-gold {
    color: var(--c-gold) !important;
}

.color-red {
    color: var(--c-red) !important;
}

.bg-cyan {
    background: var(--c-cyan) !important;
}

.bg-gold {
    background: var(--c-gold) !important;
}

.bg-red {
    background: var(--c-red) !important;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gap {
    gap: var(--base-size-8);
}

.gap-16 {
    gap: var(--base-size-16);
}

.gap-24 {
    gap: var(--base-size-24);
}

.light-bold {
    font-weight: var(--base-text-weight-medium);
}

.bold {
    font-weight: var(--base-text-weight-semibold);
}

.bs24 {
    font-size: var(--base-size-24);
}

.bs28 {
    font-size: var(--base-size-28);
}

.mt-4 {
    margin-top: var(--base-size-4) !important;
}

.mr-4 {
    margin-right: var(--base-size-4) !important;
}

.mb-4 {
    margin-bottom: var(--base-size-4) !important;
}

.ml-4 {
    margin-left: var(--base-size-4) !important;
}

.mt-8 {
    margin-top: var(--base-size-8) !important;
}

.mr-8 {
    margin-right: var(--base-size-8) !important;
}

.mb-8 {
    margin-bottom: var(--base-size-8) !important;
}

.ml-8 {
    margin-left: var(--base-size-8) !important;
}

.pt-8 {
    padding-top: var(--base-size-8);
}

.pr-8 {
    padding-right: var(--base-size-8);
}

.pb-8 {
    padding-bottom: var(--base-size-8) !important;
}

.pl-8 {
    padding-left: var(--base-size-8);
}

.mt-16 {
    margin-top: var(--base-size-16) !important;
}

.mr-16 {
    margin-right: var(--base-size-16);
}

.mb-16 {
    margin-bottom: var(--base-size-16);
}

.ml-16 {
    margin-left: var(--base-size-16);
}

.mt-24 {
    margin-top: var(--base-size-24) !important;
}

.mr-24 {
    margin-right: var(--base-size-24);
}

.mb-24 {
    margin-bottom: var(--base-size-24);
}

.ml-24 {
    margin-left: var(--base-size-24);
}

.mt-36 {
    margin-top: var(--base-size-36) !important;
}

.mr-36 {
    margin-right: var(--base-size-36);
}

.mb-36 {
    margin-bottom: var(--base-size-36);
}

.ml-36 {
    margin-left: var(--base-size-36);
}

.hide {
    display: none !important;
}

.p-4 {
    padding: var(--base-size-4) !important;
}

.p-8 {
    padding: var(--base-size-8) !important;
}

.p-8 {
    padding: var(--base-size-8) !important;
}

.p-16 {
    padding: var(--base-size-16) !important;
}

.p-24 {
    padding: var(--base-size-24) !important;
}

.disabled {
    pointer-events: none !important;
    color: var(--color-text-muted) !important;
    opacity: 0.3 !important;
}

.br-medium {
    border-radius: var(--borderRadius-medium);
}

.br-large {
    border-radius: var(--borderRadius-large);
}

.event-none {
    pointer-events: none;
}

.event-none-cell {
    pointer-events: none;

    .ant-card-body {
        padding: var(--base-size-8) var(--base-size-16) !important;
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;
    }
}

.color-text-primary {
    color: var(--color-text-primary);
}

.color-text-secondary {
    color: var(--color-text-secondary);
}

.max-1-line {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    /* autoprefixer: off*/
    -webkit-box-orient: vertical;
}

.max-2-lines {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    /* autoprefixer: off*/
    -webkit-box-orient: vertical;
}

.overflow {
    overflow: auto;

    /* Scrollbar Chrome/Safari/Edge */
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent; // macOS sẽ không đổi màu
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-text-muted);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--color-text-muted);
    }

    /* Scrollbar Firefox (cú pháp đúng) */
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-muted) transparent;
}

.pointer {
    cursor: pointer;
}

.hover-scale {
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.uppercase {
    text-transform: uppercase;
}

.border-top {
    border-top: 1px solid var(--color-border);
}
