@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// font-size
:root {
    --base-size-1: 0.0625rem;
    --base-size-2: 0.125rem;
    --base-size-4: 0.25rem;
    --base-size-6: 0.375rem;
    --base-size-8: 0.5rem;
    --base-size-10: 0.625rem;
    --base-size-12: 0.75rem;
    --base-size-14: 0.875rem;
    --base-size-16: 1rem;
    --base-size-18: 1.125rem;
    --base-size-20: 1.25rem;
    --base-size-22: 1.375rem;
    --base-size-24: 1.5rem;
    --base-size-26: 1.625rem;
    --base-size-28: 1.75rem;
    --base-size-30: 1.875rem;
    --base-size-32: 2rem;
    --base-size-34: 2.125rem;
    --base-size-36: 2.25rem;
    --base-size-38: 2.375rem;
    --base-size-40: 2.5rem;
    --base-size-42: 2.625rem;
    --base-size-44: 2.75rem;
    --base-size-46: 2.875rem;
    --base-size-48: 3rem;
    --base-size-50: 3.125rem;
    --base-size-52: 3.25rem;
    --base-size-54: 3.375rem;
    --base-size-56: 3.5rem;
    --base-size-58: 3.625rem;
    --base-size-60: 3.75rem;
    --base-size-62: 3.875rem;
    --base-size-64: 4rem;
    --base-size-66: 4.125rem;
    --base-size-68: 4.25rem;
    --base-size-70: 4.375rem;
    --base-size-72: 4.5rem;
    --base-size-74: 4.625rem;
    --base-size-76: 4.75rem;
    --base-size-78: 4.875rem;
    --base-size-80: 5rem;
    --base-size-82: 5.125rem;
    --base-size-84: 5.25rem;
    --base-size-86: 5.375rem;
    --base-size-88: 5.5rem;
    --base-size-90: 5.625rem;
    --base-size-92: 5.75rem;
    --base-size-94: 5.875rem;
    --base-size-96: 6rem;
    --base-size-98: 6.125rem;
    --base-size-100: 6.25rem;
    --base-size-102: 6.375rem;
    --base-size-104: 6.5rem;
    --base-size-106: 6.625rem;
    --base-size-108: 6.75rem;
    --base-size-110: 6.875rem;
    --base-size-112: 7rem;
    --base-size-114: 7.125rem;
    --base-size-116: 7.25rem;
    --base-size-118: 7.375rem;
    --base-size-120: 7.5rem;
    --base-size-122: 7.625rem;
    --base-size-124: 7.75rem;
    --base-size-126: 7.875rem;
    --base-size-128: 8rem;
    --base-size-130: 8.125rem;
    --base-size-132: 8.25rem;
    --base-size-134: 8.375rem;
    --base-size-136: 8.5rem;
    --base-size-138: 8.625rem;
    --base-size-140: 8.75rem;
    --base-size-142: 8.875rem;
    --base-size-144: 9rem;
    --base-size-146: 9.125rem;
    --base-size-148: 9.25rem;
    --base-size-150: 9.375rem;

    --base-size-160: 10rem;
    --base-size-200: 12.5rem;
    --base-size-220: 13.75rem;
    --base-size-240: 15rem;
    --base-size-320: 20rem;

    --base-size-496: 31rem;
    --base-size-720: 45rem;

    --base-text-weight-light: 300;
    --base-text-weight-normal: 400;
    --base-text-weight-medium: 500;
    --base-text-weight-semibold: 600;

    --borderRadius-small: 0.1875rem;
    --borderRadius-medium: 0.375rem;
    --borderRadius-large: 0.75rem;
    --borderRadius-full: 624.9375rem;

    --color-w: #ffffff;
    --color-b: #000000;

    // Leetcode
    --c-gold: #ffb700;
    --c-cyan: #1cbbba;
    --c-red: #f43838;
}

@import url('./_variables.scss');
@import url('./_utilities.scss');
@import url('./_custome-ant.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
}

html {
    font-size: var(--base-size-16);
}

body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: var(--base-size-14);
    margin: 0;
    padding: 0;
}

body.theme-dark {
    background-color: var(--color-background);
    color: var(--color-text-secondary);
}

body.theme-light {
    background-color: var(--color-background);
    color: var(--color-text-secondary);
}

// layouts
@import url('./layouts/default-layout.scss');

// pages
@import url('../pages/Home/home.scss');
@import url('../pages/Login/login.scss');
@import url('../pages/Exercises/exercises.scss');
@import url('../pages/Exercise/exercise.scss');
@import url('../pages/ExerciseCompletionList/exercise-completion-list.scss');
@import url('../pages/Groups/groups.scss');
@import url('../pages/GroupDetail/group-detail.scss');
@import url('../pages/Exams/exams.scss');
@import url('../pages/ExamDetail/exam-detail.scss');
@import url('../pages/Topics/topics.scss');
@import url('../pages/Ranking/ranking.scss');
@import url('../pages/Dashboard/dashboard.scss');
@import url('../pages/Profile/profile.scss');

// components
@import url('../components/GlobalComponent/global-component.scss');
@import url('../components/Line/line.scss');
@import url('../components/Switch/switch.scss');
@import url('../components/TooltipWrapper/tooltip-wrapper-component.scss');
@import url('../components/LoadingOverlay/loading-overlay.scss');
@import url('../components/ScreenLoadingOverlay/screen-loading-overlay.scss');
@import url('../components/CustomCalendar/custom-calendar.scss');

// others
@import url('./others/drawer-content.scss');
@import url('./others/widget-layout.scss');
@import url('./others/independence.scss');

// custom
@import url('./customs/leetcode.scss');
@import url('./shepherd.scss');

.highlight {
    // background: var(--color-text-primary);
    background: var(--c-cyan);
    color: white;
}

input {
    background: var(--color-background) !important;
    color: var(--color-text-secondary) !important;
}

.ant-select-selector {
    background: var(--color-background) !important;
    color: var(--color-text-secondary) !important;
}

.ant-table-tbody {
    .ant-table-row {
        &:hover {
            cursor: pointer;
            color: var(--color-text-primary);
        }
    }
    // .ant-table-cell {
    //     background: var(--color-background) !important;
    //     color: var(--color-text-secondary) !important;
    // }
}

.ant-pagination-item {
    background: var(--color-background) !important;
    color: var(--color-text-secondary) !important;
}

.ant-table-column-sorter {
    color: var(--color-text-secondary) !important;
    opacity: 0.7;
}

.ant-table-cell {
    padding: var(--base-size-8) !important;
}
