.home {
    padding-right: var(--base-size-16);

    .custom-carousel {
        .carousel-item {
            display: flex !important;
            justify-content: center;
            align-items: center;

            & > img {
                width: 100%;
                border-radius: var(--borderRadius-large);
            }
        }
    }

    .container {
        margin-top: var(--base-size-16);
        min-height: 300px;

        & > .header {
            font-size: var(--base-size-20);
            font-weight: var(--base-text-weight-medium);
            text-transform: uppercase;
        }

        .rank {
            min-height: 400px;
        }

        .child-container {
            padding: var(--base-size-16);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
            border-radius: var(--borderRadius-medium);

            & > .header {
                font-size: var(--base-size-16);
                font-weight: var(--base-text-weight-medium);
                text-transform: uppercase;
                text-align: center;
                display: flex;
                gap: var(--base-size-8);
                justify-content: flex-start;
                align-items: center;
            }

            & > .content {
                margin-top: var(--base-size-16);
                display: flex;
                flex-direction: column;
                gap: var(--base-size-8);

                .rank-item {
                    position: relative;
                    border-radius: var(--borderRadius-medium);
                    overflow: hidden;
                    padding: var(--base-size-8) var(--base-size-16) var(--base-size-8) 0;
                    border-radius: var(--borderRadius-medium);
                    display: flex;
                    gap: var(--base-size-16);
                    z-index: 0;
                    background: var(--color-background) !important;

                    & > .left {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        & > img {
                            width: var(--base-size-80);
                            height: var(--base-size-80);
                            position: absolute;
                            left: 0;
                        }

                        & > .ant-avatar {
                            width: var(--base-size-40);
                            height: var(--base-size-40);
                            margin-left: var(--base-size-70);
                            margin-top: var(--base-size-4);
                        }
                    }

                    & > .right {
                        margin-top: var(--base-size-4);
                        display: flex;
                        gap: var(--base-size-4);
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        & > .name {
                            font-size: var(--base-size-16);
                            font-weight: var(--base-text-weight-medium);
                        }

                        & > .roll-number {
                            font-size: var(--base-size-12);
                            color: var(--color-text-muted);
                        }
                    }

                    // lớp nền chạy quanh khung
                    &:before {
                        content: '';
                        position: absolute;
                        inset: 0;
                        padding: 3px;
                        border-radius: inherit;
                        background: linear-gradient(
                            120deg,
                            #ff0000,
                            #ff7f00,
                            #ffff00,
                            #00ff00,
                            #0000ff,
                            #8b00ff,
                            #ff0000
                        );
                        background-size: 400% 400%;
                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        animation: border-move 3s linear infinite;
                        z-index: -1;
                    }

                    background: #fff; // nền bên trong

                    &:first-child::before {
                        background-image: linear-gradient(120deg, #c8a951, #e6c776, #cda434, #b8912d, #c8a951);
                        filter: brightness(0.95) contrast(1.1);
                    }

                    &:nth-child(2)::before {
                        background-image: linear-gradient(270deg, #5a9bd5, #42a5f5, #81d4fa, #5a9bd5);
                    }

                    &:nth-child(3)::before {
                        background-image: linear-gradient(270deg, #4db6ac, #26a69a, #80cbc4, #4db6ac);
                    }

                    &:nth-child(4)::before {
                        background-image: linear-gradient(270deg, #cd7f32, #ff9800, #dda15e, #cd7f32);
                    }

                    &:nth-child(5)::before {
                        background-image: linear-gradient(270deg, #8d9aa0, #a8b3b8, #c2ccd0, #a8b3b8, #8d9aa0);
                    }
                }
            }
        }
    }
}

.student-statistic {
    & > .container-1 {
        display: flex;
        gap: var(--base-size-16);

        & > .statistic {
            background-image: url('/sources/student.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: var(--color-navbar);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
            border-radius: var(--borderRadius-medium);
            padding: var(--base-size-16);
            border: 3px solid var(--color-border);

            & > .header {
                font-size: var(--base-size-16);
                font-weight: var(--base-text-weight-medium);
                margin-bottom: var(--base-size-8);
                background-color: var(--color-fpt);
                color: var(--color-bg);
                padding: var(--base-size-4) var(--base-size-12);
                border-radius: var(--borderRadius-medium);
            }

            & > .summary {
                background: rgba(40, 40, 40, 0.7);
                padding: var(--base-size-8) var(--base-size-12);
                border-radius: var(--borderRadius-medium);
                display: flex;
                flex-direction: column;
                gap: var(--base-size-8);
                font-weight: var(--base-text-weight-medium);

                & > .cell {
                    font-size: var(--base-size-16);
                }

                & > .cell.total {
                    color: var(--color-bg);
                }
            }
        }

        & > .chart {
            // border: 3px solid var(--color-border);
            background-color: var(--color-navbar);
            border-radius: var(--borderRadius-medium);
            padding: var(--base-size-8);
            padding-top: var(--base-size-30);
            padding-bottom: var(--base-size-30);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);

            .recharts-responsive-container {
                height: var(--base-size-200) !important;
            }

            .recharts-wrapper {
                width: 100%;
                height: 100%;

                .recharts-cartesian-grid line {
                    stroke: #e5e7eb; // màu lưới nhạt
                    stroke-dasharray: 3 3;
                }

                .recharts-tooltip-wrapper {
                    background-color: var(--color-navbar);
                    border-radius: var(--borderRadius-medium);
                    color: var(--color-text-muted);
                    font-size: 0.875rem;
                    padding: var(--base-size-4);
                }

                .recharts-legend-wrapper {
                    margin-left: var(--base-size-30);
                    li {
                        font-size: var(--base-size-14);
                        color: #374151;

                        .recharts-legend-item-icon {
                            border-radius: 50%;
                        }
                    }
                }

                .recharts-area {
                    transition: all 0.3s ease;
                }

                .recharts-area:hover {
                    fill-opacity: 0.35 !important;
                    stroke-width: 2.5px !important;
                }
            }
        }
    }
}

.course-list {
    display: flex;
    flex-direction: column;
    gap: var(--base-size-16);

    & > .course-item {
        border: 1px solid var(--color-border);
        padding: var(--base-size-16);
        border-radius: var(--borderRadius-medium);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);

        & > .title {
            font-size: var(--base-size-16);
            font-weight: var(--base-text-weight-medium);
            margin-bottom: var(--base-size-8);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--base-size-6);

            & > .ico {
                font-size: var(--base-size-16);
                width: var(--base-size-16);
                height: var(--base-size-16);
                border-radius: var(--borderRadius-full);
            }

            & > .difficulty {
                font-size: var(--base-size-12);

                & > div {
                    padding: var(--base-size-2) var(--base-size-4);
                    border-radius: var(--borderRadius-small);
                    color: white;
                }
            }
        }

        & > .description {
            color: var(--color-text-muted);
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.01);
        }
    }
}

.quick-statistic {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--base-size-24);

    & > div {
        flex: 1;
        width: 100%;
        justify-content: flex-start;

        &:first-child {
            max-width: 400px;
        }
    }

    & > .left {
        display: flex;
        flex-direction: column;
        gap: var(--base-size-16);
        border: 1px solid var(--color-border);
        padding: var(--base-size-16);
        border-radius: var(--borderRadius-medium);
        background: var(--color-navbar);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        & > .header {
            font-size: var(--base-size-16);
            font-weight: var(--base-text-weight-medium);
            text-transform: uppercase;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--base-size-8);
        }

        & > .summary {
            display: flex;
            flex-direction: column;
            gap: var(--base-size-8);

            & > .cell {
                padding: var(--base-size-16);
                width: 100%;
                border: 1px solid var(--color-border);
                border-radius: var(--borderRadius-medium);

                & > .header {
                    font-size: var(--base-size-16);
                    font-weight: var(--base-text-weight-medium);
                    margin-bottom: var(--base-size-8);
                }
            }
        }
    }

    & > .right {
        display: flex;
        flex-direction: column;
        gap: var(--base-size-16);
        border: 1px solid var(--color-border);
        padding: var(--base-size-16);
        border-radius: var(--borderRadius-medium);
        background: var(--color-navbar);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        & > .header {
            font-size: var(--base-size-16);
            font-weight: var(--base-text-weight-medium);
            text-transform: uppercase;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: var(--base-size-8);

            & > .more-info {
                text-transform: none;
                color: var(--color-text-muted);
                margin-bottom: var(--base-size-1);

                & > b {
                    color: var(--color-fpt);
                }
            }
        }

        & > .upcoming-exams {
            display: flex;
            gap: var(--base-size-8);
            flex-direction: column;

            & > .upcoming-exams-item {
                padding: var(--base-size-16);
                border: 1px solid var(--color-border);
                border-radius: var(--borderRadius-medium);

                & > .header {
                    font-weight: var(--base-text-weight-medium);
                    font-size: var(--base-size-16);
                    margin-bottom: var(--base-size-8);
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: var(--base-size-4);
                    text-transform: uppercase;

                    & > .label {
                        text-transform: none;
                        font-size: var(--base-size-14);
                        color: var(--color-text-muted);
                    }
                }

                & > .content {
                    & > .cell {
                        display: flex;
                        gap: var(--base-size-4);
                        justify-content: flex-start;
                        align-items: center;

                        & > .label {
                            font-weight: var(--base-text-weight-medium);
                        }
                    }
                }
            }
        }

        & > .custom-paging {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            & > .ant-pagination {
                & > .ant-pagination-item {
                    border-color: var(--color-fpt);
                    opacity: 0.5;
                    border-radius: var(--borderRadius-full);

                    & > a {
                        color: var(--color-fpt);
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }

                & > .ant-pagination-item-active {
                    opacity: 1;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@keyframes border-move {
    0% {
        background-position: 0% 50%;
        filter: brightness(1);
    }
    50% {
        background-position: 100% 50%;
        filter: brightness(1.5);
    }
    100% {
        background-position: 0% 50%;
        filter: brightness(1);
    }
}
