.tab {
    height: var(--base-size-32);

    .tab-options {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--base-size-12);
        font-weight: var(--base-text-weight-medium);
        overflow: hidden;

        .tab-option {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 var(--base-size-8);

            &:last-child {
                border-right: none;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .tab-option {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: calc(100% - 6px);
                bottom: 0;
                border-bottom: 3px solid var(--color-fpt);
                transform: scaleX(0);
                transform-origin: center;
                transition: transform 0.3s ease;
            }
        }

        .tab-option.selected::before {
            transform: scaleX(1);
        }
    }
}
