.flexlayout__layout {
    background: #101010;

    .flexlayout__layout_main {
        .flexlayout__row {
            border-radius: var(--borderRadius-medium);

            .flexlayout__tabset_container {
                border: 1px solid #555555;
                border-radius: var(--borderRadius-medium);

                .flexlayout__tabset {
                    background: #262626;

                    .flexlayout__tabset_tabbar_outer {
                        margin-top: 1px;
                        margin-left: 1px;
                        margin-right: 1px;
                        border-bottom: 1px solid #333333;
                        background: #333333;
                        height: var(--base-size-36);

                        .flexlayout__mini_scrollbar_container {
                            .flexlayout__tabset_tabbar_inner {
                                .flexlayout__tabset_tabbar_inner_tab_container {
                                    .flexlayout__tab_button {
                                        background: inherit;
                                        color: white;
                                        font-size: var(--base-size-14);
                                        font-weight: var(--base-text-weight-medium);

                                        .flexlayout__tab_button_trailing {
                                            display: none;
                                        }

                                        &:hover {
                                            background: #434343;
                                        }
                                    }

                                    .flexlayout__tabset_tab_divider {
                                        border-right: 2px solid #434343;
                                        height: var(--base-size-16);
                                        margin-top: auto;
                                        margin-bottom: auto;
                                    }
                                }
                            }
                        }

                        .flexlayout__tab_toolbar {
                            .flexlayout__tab_toolbar_button {
                                padding: var(--base-size-2);

                                svg {
                                    width: var(--base-size-20) !important;
                                    height: var(--base-size-20) !important;
                                }

                                &:hover {
                                    cursor: pointer;
                                    background: #555555;
                                    padding: var(--base-size-2);
                                    border-radius: var(--borderRadius-small);
                                }
                            }
                        }
                    }

                    .flexlayout__tabset-selected {
                        border-bottom: 1px solid #555555;
                    }
                }
            }

            .flexlayout__splitter.flexlayout__splitter_horz {
                position: relative;
                background: #101010;

                &::before {
                    position: absolute;
                    content: '';
                    background: #313131;
                    width: var(--base-size-2);
                    height: var(--base-size-24);
                    border-radius: 15px;
                }
            }

            .flexlayout__splitter.flexlayout__splitter_vert {
                position: relative;
                background: #101010;

                &::before {
                    position: absolute;
                    content: '';
                    background: #313131;
                    width: var(--base-size-24);
                    height: var(--base-size-2);
                    border-radius: 15px;
                }
            }
        }
    }

    .flexlayout__tab {
        border-bottom-left-radius: var(--borderRadius-medium);
        border-bottom-right-radius: var(--borderRadius-medium);
        background: #262626;

        .flexlayout__tab_moveable {
            padding: var(--base-size-4);

            & > div {
                background: #262626;
            }
        }

        .flexlayout__tab_moveable::-webkit-scrollbar {
            width: 0px;
            height: 0px;
            background: transparent;
        }

        .flexlayout__tab_moveable:hover::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        /* track */
        .flexlayout__tab_moveable::-webkit-scrollbar-track {
            background: #262626;
        }

        /* thumb */
        .flexlayout__tab_moveable::-webkit-scrollbar-thumb {
            background-color: #a6a6a6;
            border-radius: 10px;
            border: 2px solid #262626;
        }

        /* hover thumb */
        .flexlayout__tab_moveable::-webkit-scrollbar-thumb:hover {
            background-color: #a6a6a6;
        }
    }
}

// Global
.flexlayout__tabset_container {
    border: 1px solid #555555;
    border-radius: var(--borderRadius-medium);

    .flexlayout__tabset {
        background: #262626;

        .flexlayout__tabset_tabbar_outer {
            z-index: 9999;
            border-bottom: 1px solid #333333;
            background: #333333;
            height: var(--base-size-36);
            padding: var(--base-size-2) 0;
            padding-bottom: var(--base-size-4);

            .flexlayout__mini_scrollbar_container {
                .flexlayout__tabset_tabbar_inner {
                    .flexlayout__tabset_tabbar_inner_tab_container {
                        .flexlayout__tab_button {
                            background: inherit;
                            color: white;
                            font-size: var(--base-size-14);
                            font-weight: var(--base-text-weight-medium);
                            padding: 0 var(--base-size-10);
                            border-right: 2px solid #434343;

                            .flexlayout__tab_button_trailing {
                                display: none;
                            }

                            &:hover {
                                background: #434343;
                                border-color: #434343;
                                border-radius: var(--borderRadius-small);
                            }

                            &:last-child {
                                border-right: none;
                            }

                            .flexlayout__tab_button_leading {
                                & > img {
                                    width: var(--base-size-16) !important;
                                    height: var(--base-size-16) !important;
                                }
                            }
                        }

                        .flexlayout__tab_button.flexlayout__tab_button--unselected {
                            opacity: 0.5;
                        }

                        .flexlayout__tabset_tab_divider {
                            display: none;
                        }
                    }
                }
            }
        }

        .flexlayout__tabset-selected {
            border-bottom: 1px solid #555555;
        }
    }
}

.flexlayout__tab_toolbar {
    .flexlayout__tab_toolbar_button {
        padding: var(--base-size-2);

        svg {
            width: var(--base-size-20) !important;
            height: var(--base-size-20) !important;
        }

        &:hover {
            cursor: pointer;
            background: #555555;
            padding: var(--base-size-2);
            border-radius: var(--borderRadius-small);
        }
    }
}

.flexlayout__splitter,
.flexlayout__splitter_drag {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.flexlayout__splitter_drag {
    background: var(--color-link) !important;
    transition: background 0.12s, opacity 0.12s;
    border-radius: 4px;
    display: block;
    min-width: 5px;
    min-height: 5px;
}

.flexlayout__splitter_vert {
    display: flex !important;
    width: 100% !important;
    height: 1px !important;
    min-height: 1px !important;
    align-items: center !important;
    justify-content: center !important;
    margin: var(--base-size-4) 0;
}

.flexlayout__splitter_horz {
    display: flex !important;
    width: 1px !important;
    min-width: 1px !important;
    max-width: 1px !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 var(--base-size-4);
}

.flexlayout__splitter_drag:hover {
    background: var(--color-link) !important;
}
