.default-layout {
    .layout-header {
        position: relative;
        background: var(--color-navbar);
        border-bottom: 1px solid var(--color-border);
        display: flex;
        justify-content: space-between;
        padding: var(--base-size-16);
        padding-left: var(--base-size-40);
        gap: var(--base-size-12);

        .left {
            display: flex;

            .brand-name {
                font-size: var(--base-size-20);
                font-weight: var(--base-text-weight-semibold);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--base-size-12);

                & > img {
                    width: var(--base-size-100);
                    height: var(--base-size-40);
                }
            }
        }

        .right {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--base-size-12);

            & > .global-search {
                border-radius: var(--borderRadius-full);
                height: var(--base-size-40);
                width: var(--base-size-320);
            }

            & > .global-search-icon {
                font-size: var(--base-size-20);
                border: 1px solid var(--color-border);
                padding: var(--base-size-8);
                border-radius: var(--borderRadius-medium);

                &:hover {
                    cursor: pointer;
                    transform: scale(0.9);
                    color: var(--color-text-primary);
                    border-color: var(--color-text-primary);
                }
            }

            & > .profile {
                // border: 1px solid var(--color-border);
                padding: var(--base-size-8) var(--base-size-12);
                border-radius: var(--borderRadius-full);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: var(--base-size-8);
                background: linear-gradient(to right bottom, #ff8f26, #ff5117);
                color: var(--color-bg);
                // color: var(--color-text-secondary);
                font-weight: var(--base-text-weight-medium);

                &:hover {
                    cursor: pointer;
                    transform: scale(0.98);
                }
            }
        }
    }

    .layout-content {
        .layout-menu {
            margin-top: var(--base-size-12);
            padding: 0 var(--base-size-4);

            .wrapper {
                position: sticky;
                top: 0;
                padding: var(--base-size-8);
                margin-bottom: var(--base-size-16);

                .menu-item {
                    margin-bottom: var(--base-size-4);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: var(--base-size-8);
                    font-size: var(--base-size-12);
                    font-weight: var(--base-text-weight-medium);
                    width: var(--base-size-72);
                    height: var(--base-size-72);
                    border-radius: var(--borderRadius-large);

                    .icon {
                        font-size: var(--base-size-20);
                    }

                    &:hover {
                        cursor: pointer;
                        background: var(--color-fpt);
                        color: var(--color-bg);
                        opacity: 0.9;
                    }
                }

                .menu-item.selected {
                    background: var(--color-fpt);
                    pointer-events: none;
                    color: var(--color-bg);
                }
            }

            .wrapper.wrapper-responsive {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--base-size-16);
                background: var(--color-navbar);
                margin: 0 var(--base-size-36);
                border-radius: var(--borderRadius-large);
                border-bottom: 1px solid var(--color-border);
            }

            .wrapper.wrapper-responsive.wrapper-min {
                margin: 0 var(--base-size-16);
            }
        }

        .outlet {
            position: relative;
            margin-top: var(--base-size-20);
            width: 100%;
            padding: 0 var(--base-size-16);

            overflow: hidden; // Need to check
        }

        .outlet.outlet-responsive {
            margin-top: 0;
        }

        .outlet.outlet-min {
            margin-top: 0;
            padding: 0;
        }

        .outlet-exercise {
            margin-top: 0;
            padding: 0;
        }
    }

    .layout-footer {
        margin-top: var(--base-size-16);
        margin-bottom: var(--base-size-16);

        .copyright {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: var(--color-text-muted);
        }
    }
}

.quick-action {
    position: absolute;
    left: var(--base-size-150);
    height: 100%;
    top: 0;
    padding: var(--base-size-8);

    & > ul {
        display: flex;
        height: 100%;

        & > li {
            position: relative;
            -webkit-transform: skew(30deg);
            -ms-transform: skew(30deg);
            transform: skew(30deg);
            border-right: 2px solid var(--color-border);
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: var(--borderRadius-large);
            min-width: var(--base-size-100);
            margin-right: var(--base-size-2);
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;

            & > * {
                transform: skew(-30deg); /* unskew text */
                display: inline-block;
            }

            &:hover {
                cursor: pointer;
                transform: skew(30deg) scale(1.1);
            }

            & > .action-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--base-size-8);
                padding: 0 var(--base-size-24);

                & > .ico {
                    font-size: var(--base-size-20);
                }
            }
        }

        & > li.selected {
            background: var(--color-fpt);
            pointer-events: none;

            & > .action-item {
                color: var(--color-bg) !important;
                font-weight: var(--base-text-weight-medium);
            }
        }
    }
}
