.loading-overlay {
    position: relative;

    .loading-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(26, 26, 26, 0.6);
        background-color: rgba(var(--color-bg), 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        backdrop-filter: blur(2px);

        .loading-logo {
            position: relative;
            width: var(--base-size-140);
            height: var(--base-size-80);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: var(--base-size-100);
                height: var(--base-size-40);
                z-index: 1;
            }

            .loading-dot {
                position: absolute;
                width: var(--base-size-8);
                height: var(--base-size-8);
                background-color: var(--color-text-primary);
                animation: moveDot 2s linear infinite;
                z-index: 0;

                &.delay-1 {
                    animation-delay: 0.1s;
                }

                &.delay-2 {
                    animation-delay: 0.2s;
                }
            }
        }
    }
}

@keyframes moveDot {
    0% {
        top: 0;
        left: 0;
        transform: translate(0, 0);
        clip-path: polygon(100% 50%, 0 0, 0 100%); // ➡️ sang phải
    }
    25% {
        top: 0;
        left: 100%;
        transform: translate(-100%, 0);
        clip-path: polygon(50% 100%, 0 0, 100% 0); // ⬇️ xuống
    }
    50% {
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
        clip-path: polygon(0 50%, 100% 0, 100% 100%); // ⬅️ sang trái
    }
    75% {
        top: 100%;
        left: 0;
        transform: translate(0, -100%);
        clip-path: polygon(50% 0, 0 100%, 100% 100%); // ⬆️ lên
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(0, 0);
        clip-path: polygon(100% 50%, 0 0, 0 100%); // ➡️ sang phải
    }
}
